/* --------   Mixins SPECIFICALLY for buttons: keep them LOCALIZED!   -------- */

@mixin fill($default, $active, $hover, $text: white ) {
  border-color: transparent;
  color: $text;
  fill: $text;
  background: $default;

  &:hover, &:focus, {
    border-color: transparent;
    color: $text;
    fill: $text;
    background: $hover;
  }

  &:active, &.active {
    border-color: transparent;
    color: $text;
    fill: $text;
    background: $active;
  }
}

@mixin outline($default, $active, $hover, $text: white ) {
  border-color: $default;
  color: $default;
  fill: $default;
  background: transparent;

  &:hover, &:focus, {
    border-color: $hover;
    color: $text;
    fill: $text;
    background: $hover;
  }

  &:active, &.active {
    border-color: $active;
    color: $text;
    fill: $text;
    background: $active;
  }
}

@mixin flat($default, $active, $hover) {
  border-color: transparent;
  color: $default;
  fill: $default;
  background: transparent;
  padding: 0.375rem 0;

  &:hover, &:focus {
    border-color: transparent;
    color: $hover;
    fill: $hover;
  }

  &:focus {
    box-shadow: none;
    background: rgba(128, 128, 128, 0.2);
  }

  &:active, &.active {
    border-color: transparent;
    color: $active;
    fill: $active;
    background: transparent;
  }
}

/* --------   End Mixins   -------- */

/* --------   BUTTON STYLING   -------- */

a.button,
button.button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  line-height: 1.125rem;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  white-space: nowrap;

  svg {
    height: 0.875rem;
    width: auto;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px $pearl-500;
  }

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  @include fill($jade-500, $jade-700, $jade-900);
  &.outline { @include outline($jade-500, $jade-700, $jade-500); }
  &.flat { @include flat($jade-500, $jade-700, $jade-900); }

  // --- BUTTON COLOUR VARIANTS ---//

  // alt colour styling
  &.alt {
    @include fill($amethyst-500, $amethyst-500, $amethyst-700);
    &.outline { @include outline($amethyst-500, $amethyst-700, $amethyst-500); }
    &.flat { @include flat($amethyst-500, $amethyst-300, $amethyst-700); }
  }

  // alert colour styling

  &.alert {
    @include fill($amber-100, $amber-100, $amber-300, $pearl-900);

    &.outline {
      @include outline($amber-300, $amber-300, $amber-100, $pearl-900);

      color: $pearl-900;
      fill: $pearl-900;
    }

    &.flat { @include flat($amber-300, $amber-300, $amber-100); }
  }

  // neg colour styling

  &.neg {
    @include fill($ruby-500, $ruby-500, $ruby-700);
    &.outline { @include outline($ruby-500, $ruby-700, $ruby-500); }
    &.flat { @include flat($ruby-500, $ruby-500, $ruby-700); }
  }

  // pos colour styling

  &.pos {
    @include fill($emerald-500, $emerald-500, $emerald-700);
    &.outline { @include outline($emerald-500, $emerald-700, $emerald-500); }
    &.flat { @include flat($emerald-500, $emerald-500, $emerald-700); }
  }

  // --- KEEP LAST! subtle colour styling - to remain uneffected by color variants ---//

  &.icon {
    display: flex;
    align-items: baseline;

    &:not(.before):not(.after) {
      border-radius: 50%;
      padding: 0.5rem;

      svg {
        top: 0;
        width: 1.125rem;
        height: 1.125rem;
      }

      &.large {
        padding: 0.5rem;

        svg {
          width: 1.625rem;
          height: 1.625rem;
        }
      }

      &.small {
        padding: 0.375rem;

        svg {
          width: 0.875rem;
          height: 0.875rem;
        }
      }

      &.flat {
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.before svg { margin-right: 0.5rem; }
    &.after svg { margin-left: 0.5rem; }

    &.flat {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.subtle {
    border-color: $pearl-300;
    color: $pearl-900;
    fill: $pearl-900;
    background: white;

    &:hover, &:focus {
      border-color: $pearl-300;
      color: $pearl-900;
      fill: $pearl-900;
      background: $pearl-300;
    }


    &:active, &.active {
      border-color: $pearl-100;
      color: $pearl-900;
      fill: $pearl-900;
      background: $pearl-100;
    }
  }

  &.large {
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding: 0.5rem 1rem;

    &.flat {
      padding-left: 0;
      padding-right: 0;
    }

    svg {
      top: 0.25rem;
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  &.small {
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: 0.25rem 0.5rem;

    &.flat {
      padding-left: 0;
      padding-right: 0;
    }

    svg {
      top: 0.125rem;
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
