
/* --------   Mixins: keep them LOCALIZED!   -------- */

@mixin outline($default, $hover) {
  border-color: $default;
  color: $default;
  fill: $default;
  background: transparent;

  &:hover,
  &:active,
  &:focus {
    border-color: $hover;
    color: white;
    fill: white;
    background: $hover;
  }
}

@mixin flat($default, $hover) {
  border-color: transparent;
  color: $default;
  fill: $default;
  background: transparent;
  // stroke: $default;

  &:hover,
  &:active,
  &:focus {
    border-color: transparent;
    color: $hover;
    fill: $hover;
    background: transparent;
  }
}

/* --------   Eveything begins here: Reset links and buttons to same default style/behaviour   -------- */

a, button, .link {
  color: $jade-500;
  fill: $jade-500;
  text-decoration: underline;
  display: flex;
  align-items: baseline;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  background: none;
  -moz-appearance: none;
  padding: 0;
  border: 0;
  transition: all 300ms ease-out;

  svg {
    top: 0.125rem;
    height: 0.875rem;
    width: auto;
    border-bottom: 1px solid $jade-500;
    padding: 0 0 1px;
  }

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:visited {
    color: $jade-900;
    fill: $jade-900;
    svg { border-color: $jade-900; }
  }

  &:hover, &:focus {
    color: $jade-700;
    fill: $jade-700;
    svg { border-color: $jade-700; }
  }
  &:focus { outline: none; }
  &.href-plain { text-decoration: none; }
  &.inherit { color: inherit; }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* --------   Buttons   -------- */

/* --------   let's cover our bases, shall we   -------- */
a.button,
button.button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
  // --- DEFAULT BUTTON COLOUR ---//
  -webkit-appearance: button;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  line-height: 1.375rem;
  color: white;
  fill: white;
  text-align: center;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  background: $jade-500;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  svg { border: none; }

  &:hover,
  &:active,
  &:focus {
    background: $jade-700;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px $jade-100;
  }

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &.outline { @include outline($jade-500, $jade-700); }
  &.flat { @include flat($jade-500, $jade-900); }

  // --- BUTTON COLOUR VARIANTS ---//

  // alt colour styling
  &.alt {
    border-color: $amethyst-500;
    color: white;
    background: $amethyst-500;

    &:hover,
    &:active,
    &:focus {
      border-color: $amethyst-700;
      color: white;
      background: $amethyst-700;
    }

    &.outline { @include outline($amethyst-500, $amethyst-700); }
    &.flat { @include flat($amethyst-500, $amethyst-700); }
  }

  // alert colour styling

  &.alert {
    border-color: $amber-300;
    color: white;
    background: $amber-300;

    &:hover,
    &:active,
    &:focus {
      border-color: $amber-300;
      color: $white;
      background: $amber-300;
    }

    &.outline { @include outline($amber-300, $amber-300); }
    &.flat { @include flat($amber-300, $amber-300); }
  }

  // neg colour styling

  &.neg {
    border-color: $ruby-500;
    color: white;
    background: $ruby-500;

    &:hover,
    &:active,
    &:focus {
      border-color: $ruby-700;
      color: $white;
      background: $ruby-700;
    }

    &.outline { @include outline($ruby-500, $ruby-700); }
    &.flat { @include flat($ruby-500, $ruby-700); }
  }

  // pos colour styling

  &.pos {
    border-color: $emerald-500;
    color: white;
    background: $emerald-500;

    &:hover,
    &:active,
    &:focus {
      border-color: $emerald-700;
      color: $white;
      background: $emerald-700;
    }

    &.outline { @include outline($emerald-500, $emerald-700); }
    &.flat { @include flat($emerald-500, $emerald-700); }
  }

  // --- KEEP LAST! subtle colour styling - to remain uneffected by color variants ---//

  &.icon {
    &:not(.before):not(.after) {
      border-radius: 50%;
      padding: 0.5rem;

      svg {
        top: 0;
        width: 1.125rem;
        height: 1.125rem;
      }
    }

    &.before svg { margin-right: 0.5rem; }
    &.after svg { margin-left: 0.5rem; }
  }

  &.subtle {
    border-color: $pearl-300;
    color: $pearl-900;
    fill: $pearl-900;
    background: white;

    &:hover,
    &:active,
    &:focus {
      border-color: $pearl-300;
      color: $pearl-900;
      fill: $pearl-900;
      background: $pearl-50;
    }
  }
}
