form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

fieldset {
  padding: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

label {
  color: $grey3;
  margin-bottom: $spacing-small;
  line-height: 1;
}

input, select, textarea {
  color: $black;
  font-size: 1rem;
  line-height: $baseline-height;
  border: 1px solid $grey2;
  border-radius: $spacing-tiny;
  padding: $spacing-small;
  margin: 0 0 $spacing-med;
}

input, textarea { width: 100%; }

// -- Show the overflow in Edge. -- //
button,
input {
  overflow: visible;
}

// -- Remove the inheritance of text transform in Edge, Firefox, and IE. -- //
button,
select {
  text-transform: none;
}



textarea {
  overflow: auto; // Remove the default vertical scrollbar in IE.
  &.large { min-height: 16rem; }
}

