input {
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  border: 1px solid $pearl-300;
  padding: 0.25rem;
  background-color: $pearl-50;
}

label {
  display: block;
  margin: 1rem 0 0;
  font-weight: bold;

  &.label-inline { margin: 0.5rem 0.25rem; }
}

.toggle {
  display: inline-block;
  padding: 0;
  color: $jade-500;
  border: 1px solid $jade-500;
  background: transparent;
  border-radius: 1rem;
  text-decoration: none;
  line-height: 1.5rem;
  cursor: pointer;

  span {
    padding: 0 0.5rem;
    border-radius: 1rem;
    display: inline-block;

    &:first-child:not([data-active="true"]) { padding-right: 0.25rem; }

    &:last-child:not([data-active="true"]) { padding-left: 0.25rem; }

    &[data-active="true"] {
      background: $jade-500;
      color: $white;
      padding: 0 0.5rem;
    }
  }
}
