li {
  white-space: nowrap;
  padding: 0;
  border: none;
  border-bottom: 1px solid $lightgrey;

  &:last-child { border-bottom: none; }
  @media #{$sw-medium} {
    border-bottom: none;
  }

  a {
    display: block;
    width: 100%;
    color: $black;
    text-decoration: none;
    padding: $spacing-small $spacing-small;

    &.active {
      color: $brand;
    }

    @media #{$sw-medium} {
      &:hover, &:focus {
        background: rgba($brand, 0.1);
        color: $brand;
      }

      border-radius: $br;
    }
  }
}
