ul {
  li {
    border-bottom: 1px solid $grey2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: $spacing-med $spacing-small;
    line-height: 1;
    &:last-child { border-bottom: none; }
  }

  li > * {
    display: block;
  }
}

.context-menu li {
  white-space: nowrap;
  padding: 0;
  border: none;

  a {
    display: block;
    width: 100%;
    color: $brand;
    border-radius: $br;
    text-decoration: none;
    padding: $spacing-small;

    &:hover, &:focus {
      background: rgba($brand, 0.1);
    }
  }
}
