// #app {
//   header, form, footer {
//     max-width: 32rem;
//     margin: auto;
//   }

//   footer {
//     margin: $spacing auto;
//     text-align: center;
//   }
// }

.components-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

nav {
  min-width: 10rem;
}

section.example { //replace with main
  padding: 0 $spacing;
  flex: 2 0 0;
}
