{
  "presets": [
    ["@babel/env", { "modules": false }]
  ],
  "plugins": ["@babel/plugin-transform-runtime"],
  "env": {
    "test": {
      "presets": [["@babel/env", { "modules": false }]],
      "plugins": [
        [
          "istanbul",
          {
            "useInlineSourceMaps": false,
            "include": ["src/*"],
            "exclude": [
              "**/*.test.js",
              "src/views/components/*.vue"
            ]
          }
        ]
      ]
    }
  }
}
