@import 'containers';

.page { margin-bottom: 2rem; }

nav ul ul {
  margin-top: 0.25rem;
  margin-left: 1rem;
  list-style-type: circle;
}

p code,
li code,
td code {
  background: $primary-50;
  color: $primary-500;
  &.alt {
    background: $secondary-50;
    color: $secondary-700;
  }
}

pre {
  white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
  margin: 0;
  padding: 0;

  code {
    white-space: pre;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: break-word;
    word-wrap: normal;
    display: block;
    padding: 0.75rem;
    margin: 0 0 1.25rem;
    background: $neutral-900;
    color: $neutral-300;
    border-radius: 0.25rem;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    hyphens: none;
  }
}

// PrismJS colours
code.language-css {
  background: $neutral-900;
  color: $neutral-300;
  .token.attr-name, .token.deleted, .token.namespace, .token.tag, .token.selector, .token.boolean, .token.function, .token.number  {
    color: $secondary-300;
  }
  .token.class-name, .token.constant, .token.property, .token.symbol, .token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
    color: $secondary-100;
  }
  .token.punctuation {
    color: $secondary-50;
  }
}
code.language-html, code.language-svg {
  background: $neutral-900;
  color: $neutral-300;
  .token.deleted .token.namespace, .token.tag, .token.selector {
    color: $primary-100;
  }
  .token.attr-name, .token.class-name, .token.constant, .token.property, .token.symbol {
    color: $primary-300;
  }
  .token.punctuation, .token.boolean, .token.function, .token.number {
    color: $primary-100;
  }
  .token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
    color: $primary-50;
  }
}

.toggle {
  display: block;
  padding: 0;
  color: $primary-500;
  border: 1px solid $primary-500;
  background: transparent;
  border-radius: 1rem;
  text-decoration: none;
  line-height: 1.5rem;
  cursor: pointer;
  &.inline-label {
    @media #{$screen-width-medium} {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
  span {
    padding: 0 0.5rem;
    border-radius: 1rem;
    display: inline-block;

    &:first-child:not([data-active="true"]) { padding-right: 0.25rem; }

    &:last-child:not([data-active="true"]) { padding-left: 0.25rem; }

    &[data-active="true"] {
      background: $primary-500;
      color: $white;
      padding: 0 0.5rem;
    }
  }
}
