
// PrismJS colours
@import 'prism.scss';


header.peak-title {
  @media #{$screen-width-large} {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media #{$screen-width-large} {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 1rem;
      @media #{$screen-width-large} {
        margin: 0 0 0 1rem;
        align-items: center;
        justify-content: center;
      }
    }
  }
}


.toggle {
  border: 1px solid $primary-500;
  border-radius: 1rem;
  line-height: 1;
  &.inline-label {
    @media #{$screen-width-medium} {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
  span {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    display: inline-block;

    &:first-child:not([data-active="true"]) { padding-right: 0.25rem; }

    &:last-child:not([data-active="true"]) { padding-left: 0.25rem; }

    &[data-active="true"] {
      background: $primary-500;
      color: $white;
      // padding: 0 0.5rem;
    }
  }
}
