
// PrismJS colours
@import 'prism.scss';

.toggle {
  display: block;
  padding: 0;
  color: $primary-500;
  border: 1px solid $primary-500;
  background: transparent;
  border-radius: 1rem;
  text-decoration: none;
  line-height: 1.5rem;
  cursor: pointer;
  &.inline-label {
    @media #{$screen-width-medium} {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
  span {
    padding: 0 0.5rem;
    border-radius: 1rem;
    display: inline-block;

    &:first-child:not([data-active="true"]) { padding-right: 0.25rem; }

    &:last-child:not([data-active="true"]) { padding-left: 0.25rem; }

    &[data-active="true"] {
      background: $primary-500;
      color: $white;
      padding: 0 0.5rem;
    }
  }
}
