code[class*="language-"],
pre[class*="language-"] {
	color: $neutral-100;
	text-align: left;
	white-space: pre-wrap;
  white-space: unset;
	word-spacing: normal;
	word-break: break-word;
	word-wrap: normal;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1rem 1.5rem;
  margin: 0 0 1.25rem;
	overflow: auto;
	border-radius: 0.25em;
	> code,
	> code[class*="language-"] {
		white-space: pre-wrap;
	}
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: $neutral-900;
}

/* Inline code */
:not(pre) > code {
	padding: 0.125em;
	border-radius: 0.25em;
	white-space: normal;
	background: $primary-50;
  color: $primary-700;
  &.alt {
    background: $secondary-50;
    color: $secondary-700;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $neutral-500;
}

.token.punctuation {
	color: $primary-50;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: $primary-100;
}

.token.boolean,
.token.number {
	color: $secondary-100;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $secondary-100;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: $neutral-50;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: $tertiary-100;
}

.token.keyword {
	color: $pos-300;
}

.token.regex,
.token.important {
	color: $tertiary-300;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
