// .animated {
//   animation-duration: 0.3s;
// }

// .animated.fill-background {
//   animation-duration: 0.2s;
// }

// @-webkit-keyframes fill-background {
//   from,
//   50%,
//   to {
//     background: transparent;
//   }

//   25%,
//   75% {
//     background: rgba($brand, 0.1);
//   }
// }

@keyframes fill-background {
  from,
  50%,
  to {
    background: transparent;
  }

  25%,
  75% {
    background: rgba($brand, 0.1);
  }
}

.fill-background {
  // -webkit-animation-name: fill-background;
  animation-duration: 0.3s;
  animation-name: fill-background;
}

// @-webkit-keyframes flashTeal {
//   from,
//   50%,
//   to {
//     color: initial;
//   }

//   25%,
//   75% {
//     color: $brand;
//   }
// }

@keyframes flashTeal {
  from,
  50%,
  to {
    color: initial;
  }

  25%,
  75% {
    color: $brand;
  }
}

.flashTeal {
  animation-name: flashTeal;
  animation-duration: 0.3s;
}

.flash-or-fill {
  animation-name: flashTeal;
  animation-duration: 0.3s;

  @media #{$sw-medium} {
    animation-name: fill-background;
  }
}
