@import url("//hello.myfonts.net/count/32ed97");

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/gt-walsheim/GTWalsheimLight.eot');
  src:
    local('GT Walsheim Light'),
    local('GTWalsheimLight'),
    url('/fonts/gt-walsheim/GTWalsheimMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/gt-walsheim/GTWalsheimLight.eot');
  src:
    local('GT Walsheim Light'),
    local('GTWalsheimLight'),
    url('/fonts/gt-walsheim/GTWalsheimMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/gt-walsheim/GTWalsheimMedium.eot');
  src:
    local('GT Walsheim Medium'),
    local('GTWalsheimMedium'),
    url('/fonts/gt-walsheim/GTWalsheimMedium.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/gt-walsheim/GTWalsheimMedium.eot');
  src:
    local('GT Walsheim Medium'),
    local('GTWalsheimMedium'),
    url('/fonts/gt-walsheim/GTWalsheimMedium.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: italic;
}
