@import url("//hello.myfonts.net/count/32ed97");

@font-face {
  font-family: 'GT-Walsheim';
  src: url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.eot');
  src: local('GT Walsheim Light'), local('GT-Walsheim-Light'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.woff2') format('woff2'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.woff') format('woff'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.eot');
  src: local('GT Walsheim Medium'), local('GT-Walsheim-Medium'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.woff2') format('woff2'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.woff') format('woff'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.eot');
  src: local('GT Walsheim Light'), local('GT-Walsheim-Light'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.woff2') format('woff2'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.woff') format('woff'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.eot');
  src: local('GT Walsheim Medium'), local('GT-Walsheim-Medium'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.woff2') format('woff2'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.woff') format('woff'),
    url('https://s3.amazonaws.com/wealthbar-assets/fonts/gt-walsheim/GT-Walsheim-Medium.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/32ED97_3_0.eot');
  src:
  local('Avenir Heavy'), local('Avenir-Heavy'),
  url('/fonts/avenir/32ED97_3_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/avenir/32ED97_3_0.woff2') format('woff2'),
  url('/fonts/avenir/32ED97_3_0.woff') format('woff'),
  url('/fonts/avenir/32ED97_3_0.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/32ED97_2_0.eot');
  src:
  local('Avenir Book'), local('Avenir-Book'),
  url('/fonts/avenir/32ED97_2_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/avenir/32ED97_2_0.woff2') format('woff2'),
  url('/fonts/avenir/32ED97_2_0.woff') format('woff'),
  url('/fonts/avenir/32ED97_2_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/32ED97_1_0.eot');
  src:
  local('Avenir Book Oblique'), local('Avenir-BookOblique'),
  url('/fonts/avenir/32ED97_1_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/avenir/32ED97_1_0.woff2') format('woff2'),
  url('/fonts/avenir/32ED97_1_0.woff') format('woff'),
  url('/fonts/avenir/32ED97_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/32ED97_0_0.eot');
  src:
  local('Avenir Heavy'), local('Avenir-Heavy'),
  url('/fonts/avenir/32ED97_0_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/avenir/32ED97_0_0.woff2') format('woff2'),
  url('/fonts/avenir/32ED97_0_0.woff') format('woff'),
  url('/fonts/avenir/32ED97_0_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
