
html,
body,
button,
input,
select,
textarea {
  font-family: "GT-Walsheim", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: "kern", "liga", "ss02", "ss04";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0;
  padding: 0;
  color: $pearl-900;

  // -- font smooving
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
}

h1, .h1 {
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 2rem;
  padding: 0;
  margin: 2rem 0 1rem;
}

h2, .h2 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  padding: 0;
  margin: 1.875rem 0 1rem;
}

h3, .h3 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0;
  margin: 1.75rem 0 1rem;
}

h4, .h4 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 0;
  margin: 1.5rem 0 1rem;
}

h5, .h5 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0;
  margin: 1.25rem 0 1rem;
}

p {
  padding: 0;
  margin: 0 0 1rem;
}

p.large {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 0 0 1.125rem;
}

small, .small {
  font-size: 0.875rem;
}

sup {
  font-size: 0.5em;
  line-height: 0.5em;
}

label {
  display: block;
  margin: 1rem 0 0;
  font-weight: bold;

  &.label-inline { margin: 0.5rem 0.25rem; }
}

strong, b, .strong { font-weight: bold; }

em, i, var, .em { font-style: normal; }

input, button, select, textarea { font-family: inherit; }

var { font-style: normal; }

.tab-numbers { font-feature-settings: "kern", "liga", "tnum", "ss02", "ss04"; }

.subtle { color: rgba($pearl-900, 0.77); }

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }

.center { text-align: center; }

a, button, .link {
  color: $jade-500;
  text-decoration: underline;
  display: inline;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  background: none;
  -moz-appearance: none;
  padding: 0;
  border: 0;
  transition: all 300ms ease-out;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:visited { color: $jade-500; }
  &:hover, &:focus { color: $jade-700; }
  &:focus { outline: none; }
  &.href-plain { text-decoration: none; }
  &.inherit { color: inherit; }
}

strong, b, .strong { font-weight: bold; }
em, i, var, .em { font-style: normal; }

hr {
  box-sizing: content-box;
  height: 1px;
  margin: 1rem 0;
  background-color: $pearl-100;
  border: none;
  overflow: visible;
}

input {
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  border: 1px solid $pearl-300;
  padding: 0.25rem;
  background-color: $pearl-50;
}

ul, ol {
  padding: 0;
  margin: 0 0 1rem;
  // list-style-position: inside;
}

li {
  margin: 0 0 0.25rem;
}

pre,
code {
  font-family: 'Fira Mono', monospace;
  font-size: 0.875rem;
}

pre {
  white-space: normal;
  word-wrap: normal;
  margin: 0;
  padding: 0;

  code {
    white-space: pre-line;
    white-space: -moz-pre-line;
    white-space: -o-pre-line;
    word-wrap: break-word;
    display: block;
    padding: 0.75rem;
    background: $jade-50;
    color: $jade-500;
    border-radius: 0.25rem;
    border: 1px solid $jade-100;

    &.css {
      background: $amethyst-50;
      color: $amethyst-700;
      border-color: $amethyst-300;
    }
  }
}

/* -------- SMALL SCREEN MEDIA QUERIES ------- */

@media #{$screen-max-small} {
  .small-screen-hide { display: none !important; }
}

/* -------- LARGE SCREEN MEDIA QUERIES ------- */

@media #{$screen-width-medium} {
  .large-screen-hide { display: none !important; }

  h1, .h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 3rem 0 1rem;
  }

  h2, .h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 2.25rem 0 1rem;
  }

  h3, .h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin: 1.875rem 0 1rem;
  }

  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin: 1.625rem 0 1rem;
  }

  h5, .h5 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 1.5rem 0 1rem;
  }
}
