* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  position: relative;
}

#app { min-height: 100vh; }

html,
body,
button,
input,
select,
textarea {
  font-family: "GT-Walsheim", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: "kern", "liga", "ss02", "ss04";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0;
  padding: 0;
  color: $black;

  // -- font smooving
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin: 0;
  padding: 1.875rem 0 1rem;
  max-width: 100%;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
  padding: 1.75rem 0 1rem;
  max-width: 100%;
}

h3 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1.5rem 0 1rem;
  max-width: 100%;
}

h4 {
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0;
  padding: 1.375rem 0 1rem;
  max-width: 100%;
}

p {
  padding: 0 0 1rem;
}

hr {
  border: none;
  background: #4dd6b2;
  height: 1px;
  margin: 0;
  padding: 0;
}

svg {
  width: auto;
  height: auto;
}

a,
button {
  font-weight: normal;
  color: #00b298;
  text-decoration: underline;
  text-decoration-color: #4dd6b2;
  // text-decoration-skip-ink: auto;
  display: inline-block;
  -moz-appearance: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.375rem;
  background: none;
  padding: 0;
  border: 0;
  transition: all 150ms ease;
}

a:hover,
a:focus,
button:hover,
button:focus {
  text-decoration-color: #00b298;
  transition: all 150ms ease;
}

ul {
  margin: 0;
  padding: 0 0 1rem;
}

li {
  padding: 0 0 0.25rem;
}

hr {
  box-sizing: content-box;
  height: 1px;
  margin: $spacing-small 0;
  background-color: $grey2;
  border: none;
  overflow: visible;
}

/* stylelint-disable */

pre,
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1rem; /* 2 */
}

pre {
  margin: 1rem;
  padding: 1rem;
  background: $brand-lighter;
  color: $brand;
}

.tab-numbers {
  font-feature-settings: "kern", "liga", "tnum", "ss04";
}

.subtle {
  color: rgba(0.48, 0.48, 0.48, 0.5);
}
