* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  position: relative;
}

#app { min-height: 100vh; }

html,
body,
button,
input,
select,
textarea {
  font-family: "GT-Walsheim", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: "kern", "liga", "ss02", "ss04";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0;
  padding: 0;
  color: $black;

  // -- font smooving
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block;
}

h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  padding: 1.875rem 0 1rem;
  font-weight: bold;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 1.875rem 0 1rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  padding: 1.5rem 0 1rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  padding: 1.25rem 0 1rem;
  font-weight: bold;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 1.125rem 0 1rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: $baseline-height;
  margin: 0 0 1rem;

  &.large {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  &.small {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.875rem 0;
  }
}

strong { font-weight: bold; }

em { font-style: italic; }

small { font-size: 0.875rem; }

a,
button {
  font-weight: normal;
  color: #00b298;
  text-decoration: underline;
  text-decoration-color: #4dd6b2;
  // text-decoration-skip-ink: auto;
  display: inline-block;
  -moz-appearance: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.375rem;
  background: none;
  padding: 0;
  border: 0;
  transition: all 150ms ease;
}

a:hover,
a:focus,
button:hover,
button:focus {
  text-decoration-color: #00b298;
  transition: all 150ms ease;
}

input {
  margin: $spacing-small 0;
  border-radius: $spacing-tiny;
  border: 1px solid $grey;
  padding: $spacing-tiny;
  background-color: $verylightgrey;
}

ol {
  font-family: "GT-Walsheim", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif, monospace;
}

ul {
  padding: 0;
  margin: 0 0 1rem;
}

li {
  margin: 0 0 0.25rem;
}

hr {
  box-sizing: content-box;
  height: 1px;
  margin: 1rem 0;
  background-color: $grey;
  border: none;
  overflow: visible;
}

/* stylelint-disable */

pre,
code {
  font-family: 'Fira Mono', monospace;
  font-size: 0.875rem;
  display: block;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: 0 0 1rem;
}

pre code {
  margin: 0;
  padding: 0.75rem;
  background: $brand-lighter;
  color: $brand-med;
  border: 1px solid rgba($brand, 0.25);
  border-radius: $br;

}

.tab-numbers {
  font-feature-settings: "kern", "liga", "tnum", "ss02", "ss04";
}

.subtle { color: rgba($black, 0.77); }
