// -- Brand New Colours -- //
// ----------------------- //
$jade-50: #ecf9f5;
$jade-100: #68ccb1;
$jade-300: #00b298;
$jade-500: #008579;
$jade-700: #0e6b64;
$jade-900: #10504e;

$amethyst-50: #e8e9f1;
$amethyst-100: #9d9fbc;
$amethyst-300: #787a97;
$amethyst-500: #5d5f7a;
$amethyst-700: #464855;

$amber-50: #fee5a0;
$amber-100: #f5be44;
$amber-300: #da9f18;

$mint-50: #ebf4f1;
$mint-100: #d2e6de;

// New UI Colours
$ruby-50: #fcefed;
$ruby-300: #e96654;
$ruby-500: #d93939;
$ruby-700: #b31a1a;

$emerald-50: #e9f7e6;
$emerald-300: #24b33b;
$emerald-500: #0a884e;
$emerald-700: #086749;

// New Neutrals
$pearl-0: #fff;
$pearl-50: #f7f7f8;
$pearl-100: #e4e4ea;
$pearl-300: #d0d0d9;
$pearl-500: #86868f;
$pearl-700: #606068;
$pearl-900: #37373f;

$white: $pearl-0;
$black: $pearl-900;
$jade: $jade-300;
$amethyst: $amethyst-300;
$amber: $amber-300;
$neg: $ruby-500;
$pos: $emerald-500;

// -- Media Queries -- //
$screen-width-small: 'screen and (min-width: 32rem)';
$screen-max-small: 'screen and (max-width: 47.999rem)'; // use sparingly
$screen-width-medium: 'screen and (min-width: 48rem)';
$screen-width-large: 'screen and (min-width: 64rem)';
$screen-width-xlarge: 'screen and (min-width: 96rem)';

// -- Panel Widths-- //
$min-width: 48rem;
$mid-width: 64rem;
$max-width: 96rem;
